header {
    display: block;
    height: 50px;
    width: 100%;
    -webkit-box-shadow: -2px 4px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 14px -6px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 14px -6px rgba(0,0,0,0.75);
    background-color: #5D7C9E;
}

header ul, footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: flex-end;
}

header ul li a, footer ul li a {
    display: block;
    min-width: 90px;
    height: 100% !important;
    font-size: 14px;
    display: block;
    text-decoration: none;
    padding: 15px 10px;
    text-transform: uppercase;
    box-sizing: border-box ;
    color: #fff;
}

header ul li, footer ul li {
    display: block;
    text-align: center;
}

header ul li a.active {
    background-color: rgb(160, 187, 221);
    color: #fff;
}

header ul li a:hover, footer ul li a:hover {
    background-color: rgb(65, 92, 126);
    text-decoration: underline;
    
}

header ul li a.active:hover{
    background-color: rgb(160, 187, 221);
    color: #fff;
}

/* ===WRAPPER=== */
.wrapper {
    margin: 0 auto;
    max-width: 1240px;
}

.stripes {
    background-image: linear-gradient(to right, rgba(0,0,0,0) 99%, rgba(0,0,0,0.1) 30%);
    background-size: 50px;
}


/* ===TITLES OF THE SECTIONS=== */
.section-title_center {
    width: 100%;
    display: table;
    background-image: linear-gradient(rgba(0,0,0,0.1) 10%, transparent 5%), linear-gradient(to right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.1) 20%);
    background-size: 10px 10px;
    height: 80px;
    padding: 0 20px;
    text-align: center;
    -webkit-box-shadow: -2px -3px 10px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -3px 10px -6px rgba(0,0,0,0.75);
    box-shadow: -2px -3px 10px -6px rgba(0,0,0,0.75);
    margin-bottom: 40px;
}

.section-title {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-transform: uppercase;
    color: #1D5A9F
}

/* ===FOOTER=== */
footer {
    -webkit-box-shadow: -2px -3px 10px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -3px 10px -6px rgba(0,0,0,0.75);
    box-shadow: -2px -3px 10px -6px rgba(0,0,0,0.75);
    height: 40px;
    background-color: #5D7C9E;
}
footer ul {
    justify-content: center !important;
}

footer a {
    color: #fff !important;
}

footer ul li {
    text-align: cneter;
}


/* ===COLUMNS FOR TEXT AND DIVS=== */
/*TEXT*/
.one_col {
    column-count: 1;
}

.two_cols {
    column-count: 2;
}
/*DIVS*/
.divs_together {
    display: flex;
    justify-content: center;
}

.divs_together section {
    flex-direction: column;
    margin: 20px 0;
}

.divs_together section .number_title,.divs_together section .step_text {
    width: 85%;
    margin: 0 auto;
}