* {
    /*border: 1px solid black;*/
}

body, html {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p, span {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.light_blue {
    background-color: rgba(29, 90, 159, 0.7) !important;
}

.light_green {
    background-color: rgba(60, 141, 49, 0.7) !important;
}


.caps {
    text-transform: uppercase;
}

.bold_blue {
    font-weight: 600;
    color: #1D5A9F;
}

a.bold_blue {
    text-decoration: none;
    padding: 1px 2px;
    border: 1px solid #1D5A9F;
    border-radius: 5px;
}

a.bold_blue:hover {
    background-color: rgba(72, 134, 196, 0.3);
}

section a.button {
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    background-color: #1D5A9F;
    /*border-radius: 5px;*/
    border: none;
    text-transform: uppercase;
    -webkit-box-shadow: -2px 2px 10px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 10px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 10px -6px rgba(0, 0, 0, 0.75);
}

section a.button:hover, .light_blue:hover {
    background-color: rgb(76, 83, 90) !important;
}

.wrapper {
    display: flex;
    justify-content: center;
}
.stage, .blue_stripes_wrapper {
    /*background-image: linear-gradient(rgba(0,0,0,0.1) 10%, transparent 5%), linear-gradient(to right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.1) 20%);*/
    background-image: linear-gradient(to right, rgba(0,0,0,0) 99%, rgba(0,0,0,0.1) 30%);
    background-color: rgba(97, 145, 202, 0.35);
    background-size: 50px;
    -webkit-box-shadow: -2px 4px 10px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 4px 10px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 4px 10px -6px rgba(0, 0, 0, 0.75);

}

.stage .wrapper {
    justify-content: space-around;
    padding: 30px 0 50px 0;
}

.stage::after{
    background-image: linear-gradient(black, transparent);
}

.stage_laptop {
    background-image: url("../static/laptop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    right: -15%;
    height: 600px;
    position: relative;
}

.stage_text {
    width: 40%;
    left: 60px;
    top: 40px;
    position: relative;
}

.stage_text h1 {
    font-size: 3em;
    font-weight: 400;
}

.stage_text h1 span, .features h3 span{
    font-weight: 700;
}

.stage_text p, .stage_text a {
    font-size: 1em;
    line-height: 1.8em;
    margin: 20px 0;
}
.stage .buttons_2x {
    display: flex;
    justify-content: space-around;
    width: 400px;
    left: -20px;
    position: relative;
}

/* ===FEATURES=== */

.features h3 {
    font-size: 2em;
    font-weight: 400;
}

.features {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.features .feature_item {
    min-height: 300px;
    margin: 0 40px;
    width: 300px;
}

.features .feature_item div, .features .feature_item p {
    float: left;
    display: block;
}

.features .configure {
    background-image: url("../static/settings-gears.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width:40%;
    height: 200px;
    margin: 15px;
}

.features .domains {
    background-image: url("../static/domains.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width:40%;
    height: 200px;
    margin: 15px; 
}

.features .admin {
    background-image: url("../static/adminTools.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width:40%;
    height: 200px;
    margin: 15px; 
}

.features .feature_item p {
    width: 150px;
}

.features h3 {
    text-align: center;
}


/* ===MODULES=== */

.modules {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    padding: 40px 0;
}

.modules div {
    width: 400px;
    padding: 10px;
    margin: 0 50px;
    box-sizing: border-box;
    position: relative;
}

.modules div:nth-child(2)::after {
    border-right: 1px solid #1D5A9F;
    content: '';
    position: absolute;
    right: -50px;
    top: 0px;
    width: 1px;
    height: 100%;
}

.modules h4 {
    display: block;
    margin: 0 auto;
    border: 1px solid #1D5A9F;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.modules p {
    margin: 20px 0 40px 0;
}

.modules a {
    margin: 0 auto;
    display: block;
    width: 100px;
    text-align: center;
}

/* ===COMMON USE CASES=== */
.use-cases {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.use-cases .use-case {
    border: 1px solid #1D5A9F;
    border-radius: 5px;
    margin: 0 20px;
}

.use-case .use-case_title {
    width: 100%;
    background-color: #1D5A9F;
    color: #fff;
    text-align: center;
    line-height: 22px;
    margin: 0;
    font-weight: 400;
    padding: 10px 0;
}

.use-case .use-case_text {
    padding: 10px;
}

.use-cases .use-case_text ul {
    list-style-type: none;
}

.use-cases .use-case_text ul li {
    line-height: 24px;
    position: relative;
}

.use-cases .use-case_text ul li::before {
    content: "\25C9";
    color: #1D5A9F;
    font-size: 9px;
    left: -15px;
    position: absolute;
}

/* ===COMMUNITY=== */

.community {
    margin: 10px 0 50px 0;
    display: flex;
    flex-direction: column;
}

.community .community-text p{
    text-align: center;
    margin: 0 0 30px 0;
}

.community .community_link {
    width: 100%;
    border-top: 1px solid #1D5A9F;
    text-align: center;
    padding: 10px;
}

.community .community_link p {
    margin: 0;
}

.community .community_link .link {
    font-size: 20px;
    font-weight:700;
    color: #1D5A9F;
}

.community .community_link .link a {
    text-decoration: none;
    color: #1D5A9F;
}

.community .community_link .link-info {
    font-size: 14px;
    width: 50%;
    margin: 0 auto;
    color: rgb(128, 127, 127);
}

/* ===INSTALL GUIDE=== */

.blue_stripes_wrapper div h2 {
    margin:0;
    text-transform: uppercase;
    color: #1D5A9F;
    text-align: center;
}

.subpage {
    padding: 30px 0;
}

.text_center {
    width: 70%;
    margin: 0 auto;
    text-align: center
}

.text_center p {
    line-height: 24px;
}

.step {
    width: 90%;
    margin: 30px auto;
    position: relative;
    padding: 20px;
    background-color: rgba(97, 145, 202, 0.25);
}

.step .step_text {
    column-count: 2;
    line-height: 22px;
}

.step .step_text p {
    margin: 0;
    padding: 10px 0;
}